<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CWBSBDJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NSDate.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C00A88391CBCAE55008B6465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C010D45C1C8DA04D00441E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C010D4751C8DA04D00441E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C010D4801C8DA04D00441E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
